@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather";
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 170px;
    gap: 20px;
    z-index: 10;
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding-top: 22px;
    transition: 1s;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--accent, #005FA3);
    gap: 30px;
    text-decoration: none;
}

.a {
    text-decoration: none;
    display: flex;
    gap: 10px;
    font-size: 13px;
    color: #000;
    align-items: center;
    white-space: nowrap;
}

.navbar {
    display: grid;
    grid-row-gap: 22px;
}

.navbar-company-info {
    display: flex;
    gap: 20px;
}

.navbar-links {
    display: flex;
    font-size: 14px;
    gap: 68px;
}

.hero {
    background-image: url(./image/Rectangle.png);
    padding: 170px;
    height: 570px;
    background-size: cover;
    width: 100%;
    transition: 1s;
}

.hero-text {
    color: #fff;
    max-width: 589px;
    font-size: 48px;
}

.hero-btn {
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    border: none;
    white-space: nowrap;
    background-color: #005FA3;
}

.div-hero-btn {
    padding: 80px 0;
}

.btn-1 {
    background: #ffffff88;
    border: none;
    padding: 10px;
}

.btn-2 {
    background: #ffffff88;
    border: none;
    padding: 10px;
    transition: 0.7s;
}


.btn-2:hover {
    background: #ffffffbc;
    transition: 0.7s;
}

.btn-1:hover {
    background: #ffffffbc;
    transition: 0.7s;
}

.group-btn {
    display: flex;
}

.hero-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.humburger-icon {
    display: none;
}

.slider {
    background-color: gray;
    height: 13px;
    width: 13px;
    border-radius: 20px;
}

.slider-1 {
    background-color: #fff;
    height: 13px;
    width: 13px;
    border-radius: 20px;
}

.slider-div {
    display: flex;
    gap: 30px;
}

.columns-a {
    color: var(--bdbdbd, #BDBDBD);
    font-size: 24px;
}

.companiy-carts {
    padding: 50px;
    padding-top: 140px;
    background: #EBEBEB;
    transition: 1s;
}

.column-text {
    color: #333;
    font-size: 48px;
    padding: 40px 0;
}

.group-text {
    padding-left: 70px;
}

.cart {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 360px;
}

.menu-img-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 360px;
    transition: 0.7s;
}

.menu-carts {
    display: grid;
    grid-row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.columns-logo {
    display: flex;
    gap: 30px;
}

.menu-img-filter:hover {
    transition: 0.7s;
    background-color: #005FA3A6;
}


.text-c {
    color: #fff;
    font-size: 24px;
    position: relative;
    padding: 30px;
    bottom: 150px;
    max-width: 187px;
}

.company-info{
    padding: 140px;
    display: flex;
    justify-content: space-between;
    gap: 125px;
    transition: 1s;
}

.color {
    color: #005FA3;
}

.menu-cart-title {
    display: grid;
    grid-template-columns: auto auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 30px;
}

.text-9 {
    color: var(--bdbdbd, #BDBDBD);
    font-family: "lato";
    font-size: 24px;
}

.color-1 {
    font-size: 48px;
    padding-top: 40px;
    max-width: 347px;
}

.menu-cart {
    width: 255px;
    height: 255px;
    background: #EBEBEB;
    padding: 30px;
    transition: 0.7s;
}

.cart-text {
    font-family: "Lato";
    font-size: 55px;
    font-weight: 900;
}

.cart-link {
    font-family: "Lato";
    font-size: 14px;
}

.menu-cart:hover {
    background: #005FA3;
    color: #fff;
    transition: 0.7s;
}

.cart-text-p {
    font-family: "Lato";
    margin-bottom: 47px;
    font-weight: 700;
    max-width: 107px;
    margin-top: 30px;
    font-size: 14px;
}

.text-1-p {
    font-family: "Lato";
    max-width: 445px;
    padding-top: 60px;
    font-size: 18px;
}

.mikrosoft-title {
    background: #EBEBEB;
    padding: 140px;
    transition: 1s;
}

.title-text-1 {
    color: var(--bdbdbd, #BDBDBD);
    font-family: "Lato";
    font-size: 24px;
}

.title-h2-text {
    padding: 40px 0;
    font-size: 48px;
}

.image-title {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    align-items: center;
}

.slider-t {
    background-color: #8ebada;
    height: 13px;
    width: 13px;
    border-radius: 20px;
}

.title-slider {
    display: flex;
    gap: 30px;
}

.slider-b {
    background-color: #005FA3;
    height: 13px;
    width: 13px;
    border-radius: 20px;
}

.title-btn-group {
    display: flex;
}

.title-btn {
    background: var(--accent, #005FA3);
    border: none;
    padding: 10px;
    transition: 0.7s;
}

.title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-group-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.title-btn:hover {
    background: var(--accent, #99cbee);
    transition: 0.7s;
}

.Your-thanks {
    padding: 140px;
    transition: 1s;
}

.cart-tittle {
    padding: 45px 100px;
    background: #EBEBEB;
    width: 1110px;
    height: 320px;
}

.title-text {
    font-family: "Lato";
    font-size: 18px;
}

.title-p {
    color: #4F4F4F;
    font-family: "Lato";
    font-size: 14px;
}

.title-1 {
    padding-top: 58px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.title-p {
    color: #000;
    font-family: "Lato";
    font-size: 18px;
}

.footer-text {
    color: #fff;
    font-size: 48px;
}

.footer-group-a {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    border: solid 1px #fff;
    width: 255px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    outline: none;
    color: #BDBDBD;
    background: none;
}

.text-input {
    color: var(--white, #FFF);
    font-family: "Lato";
    font-size: 16px;
}

.footer-text-p {
    color: #fff;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    padding-top: 60px;
    max-width: 445px;
}

.footer-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
    color: #fff;
    font-family: "Lato";
    white-space: nowrap;
    font-size: 21px;
}

.textaria {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

.text-aria {
    background: none;
    border-top: none;
    border-left: none;
    color: #BDBDBD;
    border-right: none;
    outline: none;
}

.footer {
    background-image: url(./image/Rectangle.png);
    padding: 170px;
    height: 570px;
    background-size: cover;
    width: 100%;
    transition: 1s;
    display: flex;
    gap: 50px;
}

.footer-inputs {
    display: flex;
    gap: 30px;
}

.footer-button {
    color: #fff;
    background-color: #005FA3;
    padding: 13px 30px;
    cursor: pointer;
    border: none;
    white-space: nowrap;
}

.up-text-1 {
    font-family: "Lato";
    font-size: 14px;
}

.up-text {
    padding: 50px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-btn {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

@media screen and (max-width:1240px) {
    .company-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 100px;
        background-image: url(./image/Rectangle.png);
        height: 900px;
    }

    .cart-tittle {
        margin: 0 auto;
        width: 100%;
    }

    .title-p {
        font-size: 13px;
    }

    .logo-title-text {
        text-align: center;
    }

    .image-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        text-align: center;
    }

    .color-1 {
        margin: 0 auto;
    }
}

@media screen and (max-width:950px) {
    .navbar {
        display: none;
    }

    .humburger-icon {
        display: flex;
        color: #000;
        background: none;
        padding: 10px 30px;
        color: #000;
        cursor: pointer;
        transition: 0.7s;
    }

    .humburger-icon:hover{
        background-color: #000;
        color: #fff;
        transition: 0.7s;
    }

    .title-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .Your-thanks {
        padding: 20px;
    }

    .title-h2-text {
        font-size: 35px;
        white-space: nowrap;
    }

    .column-text {
        font-size: 30px;
    }

    .title-p {
        font-size: 10px;
    }

    .image-title {
        display: grid;
        grid-template-columns: auto auto;
    }


    .companiy-carts {
        padding: 30px;
        padding-top: 140px;
    }

    .container {
        padding: 0px 80px;
        transition: 1s;
    }

    .hero-text {
        font-size: 35px;
    }
}

@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }

    .up-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-inputs {
        display: flex;
        flex-direction: column;
    }

    .footer-group-a {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .footer {
        background-image: url(./image/Rectangle.png);
        height: 100%;
    }


    .column-text {
        font-size: 25px;
    }

    .companiy-carts {
        padding: 20px;
        padding-top: 140px;
    }

    .cart-tittle {
        padding: 30px;
    }

    .header {
        padding: 15px 0;
    }

    .container {
        padding: 20px;
    }

    .humburger-icon {
        display: flex;
    }

    .hero {
        padding: 115px;
    }

    .footer {
        padding: 70px;
    }

    .hero-text {
        font-size: 30px;
    }

    .slider {
        background-color: gray;
        height: 8px;
        width: 10px;
        border-radius: 20px;
    }

    .slider-1 {
        background-color: #fff;
        height: 8px;
        width: 10px;
        border-radius: 20px;
    }
}

@media screen and (max-width:580px) {
    .color-1 {
        font-size: 30px;
    }

    .footer-text {
        font-size: 30px;
    }

    .footer-text-p {
        font-size: 10px;
    }

    .title-image {
        width: 150px;
    }

    .hero {
        padding: 80px;
    }

    .title-text-1 {
        font-size: 15px;
    }

    .title-h2-text {
        font-size: 20px;
        margin-top: -30px;
    }

    .up-text-1 {
        font-size: 10px;
        white-space: nowrap;
    }

    .mikrosoft-title {
        padding: 20px;
    }

    .text-1-p {
        font-size: 13px;
        padding-top: 15px;
    }

    .company-info {
        padding: 20px;
    }
}

@media screen and (max-width:400px) {
    .hero-group {
        display: flex;
        flex-direction: column;
        display: grid;
        grid-row-gap: 50px;
    }

    .up-text {
        padding: 50px 30px;
    }

    .logo{
        font-size: 25px;
    }

    .footer-text {
        font-size: 20px;
    }

    .title-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: -30px;
    }

    .footer {
        padding: 20px;
        padding-top: 100px;
    }

    .company-info {
        display: flex;
        gap: 30px;
    }


    .footer-btn {
        display: flex;
        justify-content: center;
    }

    .title-p {
        font-size: 10px;
    }

    .title-group-1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: -30px;
    }

    .title-1 {
        padding-top: 30px;
    }

    .title-image {
        width: 100px;
    }

    .text-c {
        font-size: 15px;
    }

    .column-image {
        height: 200px;
        width: 100%;
    }

    .slider-div {
        display: flex;
        gap: 30px;
    }

    .cart {
        height: 200px;
    }

    .menu-img-filter {
        width: 100%;
        height: 200px;
        font-size: 10px;
    }

    .text-1-p {
        font-size: 10px;
    }

    .hero {
        padding: 20px;
        padding-top: 130px;
    }

    .companiy-carts {
        padding: 20px;
        padding-top: 140px;
    }

    .div-hero-btn {
        padding: 50px 0;
    }

    .column-text {
        font-size: 19px;
    }

    .column-group-text {
        margin-left: -50px;
    }

    .hero-text {
        font-size: 25px;
    }
}